<div class="container">
  <h2 class="center-align">Welcome to Idea Box</h2>
  <div class="row">
    <div class="col l6">
    <h3>Latest Ideas</h3>
      <div id="ideas-div">
      </div>
    </div>
    <div class="col l6">
      <h4>New Idea</h4>
        <%= label_tag :title %>
        <%= text_field_tag :title, "", class: "idea-title" %>
        <%= label_tag :body %>
        <%= text_field_tag :body, "", class: "idea-body" %>
        <button class="btn" id="create-idea">Save</button>
    </div>
  </div>
</div>